@tailwind base;
@tailwind components;
@tailwind utilities;

.paytone {
  font-family: "Paytone One", sans-serif;
}

.dmsans {
  font-family: "DM Sans", sans-serif;
}

@layer base {
  .heading1 {
    @apply text-56 leading-72 text-white paytone;
  }

  .heading2 {
    @apply text-42 leading-56 text-neutral-500 font-bold dmsans;
  }

  .heading3 {
    @apply text-24 leading-32 text-neutral-500 font-medium dmsans;
  }

  .body {
    @apply text-16 leading-24 text-neutral-500 dmsans;
  }

  .button-text {
    @apply text-16 leading-24 text-neutral-500 font-bold dmsans;
  }

  .link {
    @apply text-16 leading-24 text-neutral-500 font-bold underline dmsans;
  }

  .caption {
    @apply text-12 leading-16 text-neutral-500 dmsans;
  }
}

@layer components {
  /* add button styling here */
  .primary-button {
    @apply bg-neutral-500 py-4 px-8 button-text font-bold dmsans text-white;
  }

  .secondary-button {
    @apply bg-white py-4 px-8 button-text font-bold dmsans text-neutral-500;
  }
/* Add your custom CSS styles here */

.input {
  width: 100%;
  height: 100%;
}

.right {
  position:absolute;
  right: 800px;
  top: 255px;
}

/* dropdown.css */
.dropdown {
  position: relative;
  height: 48px;
  width: 648px;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #ffffff;
  color: #053437;
  height: 48px;
  width: 648px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #053437;
  padding: 0.7em;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  border: 2px solid #053437;
  box-shadow: 0 0 0.8em #053437;
}

.select:hover {
  background: #ffffff;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000000;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 648px;
  background: #ffffff;
  border: 2px solid #053437;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 1em;
  cursor: pointer;
}

.menu li.active {
  background: #053437;
  color: #ffffff;
}
.menu li:hover {
  background-color: #f0f0f0;
}

.dropdown-options {
  border: 1px solid #053437;
}

/* Apply dark blue background and white text on hover */
.dropdown-options:hover {
  background-color: #ffffff;
  color: #053437;
}

.question-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 43rem;
  height: auto;
  padding: 5px 20px;
  margin: 20px 0;
  gap: 20px;
  color: #6b7280; /* text-neutral-500 */
  background-color: #3b82f6; /* bg-primary-50 */
  font-family: 'DM Sans', sans-serif; /* font-regular */
}

}